<div class="bg">
  <!-- <div class="">
    <input type="text">
  </div> -->
  <div class="date">
    <!-- <div class="date__element">
      <div class="element__time">{{day}}</div>
      <div class="element__title">Days</div>
    </div> -->
    <div class="date__element">
      <div class="element__time">{{date.hours}}</div>
      <div class="element__title">Hours</div>
    </div>
    <div class="date__element">
      <div class="element__time">{{date.minutes}}</div>
      <div class="element__title">Minutes</div>
    </div>
    <div class="date__element">
      <div class="element__time">{{date.seconds}}</div>
      <div class="element__title">Seconds</div>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom__text">
      <span>{{newDate}}</span>
    </div>
    <p-calendar [showTime]="true" [(ngModel)]="model" (ngModelChange)="valueChange($event)" ></p-calendar>
  </div>
</div>

<!-- <div class="bg"></div> -->
<img class="img" src="https://img.rezdy.com/PRODUCT_IMAGE/6172/Sunset_20M_lba__20SC_2012_12_04_811_20_preview.jpeg_lg.jpg" alt="">