.header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 48px;
  top: 0;
  z-index: 300;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.header__button {
  font-size: 18px;
  height: 36px;
  width: 96px;
  line-height: 36px;
  text-align: center;
}
.header__button:hover {
  cursor: pointer;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}