.app-list {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 24px;
    color: white;
  }
}

.message {
  width: 90%;
  min-height: 48px;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  line-height: 32px;
  color: white;
  background: #00000075;
  border-radius: 24px;
  transition: 500ms;
}