<div class="date-picker">
  <span class="date-picker__text">Choose date: </span>
  <p-calendar [showTime]="true" [(ngModel)]="model" (ngModelChange)="valueChange($event)" ></p-calendar>
</div>
<div class="date">
  <!-- <div class="date__element">
    <div class="element__time">{{day}}</div>
    <div class="element__title">Days</div>
  </div> -->
  <div class="date__element">
    <div class="element__time">{{date.hours}}</div>
    <div class="element__title">Hours</div>
  </div>
  <div class="date__element">
    <div class="element__time">{{date.minutes}}</div>
    <div class="element__title">Minutes</div>
  </div>
  <div class="date__element">
    <div class="element__time">{{date.seconds}}</div>
    <div class="element__title">Seconds</div>
  </div>
</div>
<div class="bottom">
  <!-- <button (click)="setToStore()">Set</button>
  <button (click)="getFromStore()">Get</button>
  <button (click)="clearStore()">Clear</button> -->
  <button class="bottom__button" (click)="setToStore()">Remember current date</button>
  <div class="bottom__text">
    <span>{{newDate | date:'fullDate'}} </span>
    <span>{{newDate | date:'shortTime'}}</span>
  </div>
</div>
