.date {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 250px;
  max-width: 600px;
  margin: 0 auto;
  height: 60vh;

  &__element {
    width: 128px;
    height: 128px;
    margin: 5px;
    color: white;
    background: #00000075;
    border-radius: 24px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 500ms;
  }
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  &__text {
    color: white;
    font-size: 18px;
    margin-right: 10px;
  }
}

.bottom {
  z-index: 200;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;

  &__button {
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    border-radius: 8px;
    color: white;
    background: #00000050;
    border: 0;
    font-size: 18px;
    min-width: 64px;
    margin: 10px;
    &:hover {
      background: #00000035;
      cursor: pointer;
    }
  }

  &__text {
    color: white;
    font-size: 18px;
    text-align: center;
  }
}

.element {
  &__time {
    font-size: 64px;
    line-height: 54px;
  }
}

.popup {
  position: absolute;
  z-index: 400;
  width: 90%;
  max-width: 250px;
  background: #0000009c;
  border-radius: 8px;
  padding: 0 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 128px;
  top: 30%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

  &__text {
  }
  &__bottom {
    margin-top: 10px;
    display: flex;
  }
  &__button {
    line-height: 48px;
    height: 48px;
    padding: 0 10px;
    border-radius: 8px;
    color: white;
    background: #0000008a;
    font-size: 18px;
    border: 0;
    margin: 0 10px;
    &:hover {
      background: #00000035;
      cursor: pointer;
    }
  }
}
