<div class="date-picker">
  <span class="date-picker__text">Choose date: </span>
  <p-calendar [showTime]="true" [(ngModel)]="model" (ngModelChange)="valueChange($event)"></p-calendar>
</div>
<div class="date">
  <div class="date__element" *ngIf='date.days > 0'>
    <div class="element__time">{{date.days}}</div>
    <div class="element__title">Days</div>
  </div>
  <div class="date__element" *ngIf='date.hours > 0'>
    <div class="element__time">{{date.hours}}</div>
    <div class="element__title">Hours</div>
  </div>
  <div class="date__element">
    <div class="element__time">{{date.minutes}}</div>
    <div class="element__title">Minutes</div>
  </div>
  <div class="date__element">
    <div class="element__time">{{date.seconds}}</div>
    <div class="element__title">Seconds</div>
  </div>
</div>
<div class="bottom">
  <button class="bottom__button" (click)="setToStore()">Remember current date</button>
  <div class="bottom__text">
    <span>{{newDate | date:'fullDate'}} </span>
    <span>{{newDate | date:'shortTime'}}</span>
  </div>
  <button class="bottom__button" (click)="openPopup()">Clear all dates</button>
</div>

<div class="message" [@messageAnimation]='state'>
  <span>Date added to list.</span>
</div>

<div class="popup" *ngIf='popupShown'>
  <span class="popup__text">Do you really want to delete all dates?</span>
  <div class="popup__bottom">
    <div class="popup__button" (click)="clearStore()">Yes</div>
    <div class="popup__button" (click)="closePopup()">No</div>
  </div>
</div>
