<div class="app-about">
  <!-- <span [@firstAnimation]='stateText' class="app-about__text">"Most people think time is like a river that flows swift and sure in one direction. But I have seen the face of time, and I can tell you: they are wrong. Time is an ocean in a storm. You may wonder who I am or why I say this. Sit down and I will tell you a tale like none you have ever heard." </span>
  <span [@secondAnimation]='stateName' class="app-about__name">— Son of Shahraman</span> -->
  <ul [@firstAnimation]='stateText' style="font-size: 24px; font-style: normal;">
    <li>0.1.5: Routing bug fixes</li>
    <li>0.1.4: Clear list popup</li>
    <li>0.1.3: Services and fixes</li>
    <li>0.1.2: Days calculate</li>
    <li>0.1.1: About Page</li>
    <li>0.1: Hello world!</li>
  </ul>
</div>