.app-about {
  padding-top: 80px;
  color: white;
  width: 90%;
  margin: 0 auto;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text{
    font-size: 24px;
  }

  &__name {
    font-size: 20px;
  }
}